PORT=8000 
MONGODB_URI= MONGO_URL
ACCESS_TOKEN_SECRET= test
ACCESS_TOKEN_EXPIRY= (how many days or hours)
REFRESH_TOKEN_SECRET= test
REFRESH_TOKEN_EXPIRY= (how many days or hours)
CLOUDINARY_CLOUD_NAME= <cloud_name>
CLOUDINARY_API_KEY= <api_key>
CLOUDINARY_API_SECRET= <api_secret>
